#icanseeit {
    display: none;
}


body {
    color: white;
    background-color: black;
    display: flex;
    overflow: hidden;
}

text{
    display: inline;
}

#iss{
    position:absolute;
    height: 50px;
    z-index: 10;
    transition: opacity 1.5s ease-in-out;
}
 
p {
   display: none;
}
