#icanseeit {
    display: none;
}


body {
    color: white;
    background-color: black;
    display: flex;
    overflow: hidden;
}

text{
    display: inline;
}

#iss{
    position:absolute;
    height: 50px;
    z-index: 10;
    transition: opacity 1.5s ease-in-out;
    visibility: visible;
}
 
p {
   color: white;
   font-family:'Courier New', Courier, monospace;
}

h1 {
    color: white;
    font-family:'Courier New', Courier, monospace;
 }

 h3 {
    color: white;
    font-family:'Courier New', Courier, monospace;
 }

 h4 {
    color: white;
    font-family:'Courier New', Courier, monospace;
 }
#cantsee{
    display: none;
}